<form hx-post="/submit" hx-target="#result" hx-ext="my-json-enc">
  <input name="name" placeholder="Enter collection name" required />
  <input name="desc" placeholder="Enter description" />
  <div class="authors">
    <span>Authors:</span>
    <div name="authors[]">
      <span name="name">123</span>
      <span name="name">567</span>
      <span name="name">89</span>
    </div>
    <button type="none" hx-get="./pages/collection/author.html" hx-target="previous div" hx-swap="beforebegin"
      hx-params="none">+ Author
    </button>
  </div>
  <button type="submit">Create</button>
</form>

<div id="result"></div>